@import url('https://fonts.cdnfonts.com/css/mona-sans?styles=144345');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffccff;
    font-family: 'Mona Sans', sans-serif;
    font-style: italic;
    height: 100vh;
    box-sizing: border-box;
    
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5% 3.8%;
    justify-content: space-between;
}

.contenido {
    width: 360px;
    text-align: center;
    line-height: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    color:purple;
}

strong {
    font-weight: bold;
    color:white;
    background-color: darkmagenta;
}

.titulo {
    color: darkorchid;
    font-size: 40px;
}

#span2 {
    color:black;
}

#span3 {
    color:red;
}

.destacado {
    font-size: 30px;
    color:darkmagenta;
    font-weight: bold;
}
.urgente {
    color: green;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    padding: 1%;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    column-gap: 86px;
}

.redes {
   line-height: 1.5;
   font-weight: 700;
   font-size: 20px;
   width: 120px;
   background-color: #f8aff8;
   padding: 13px 13px;
   border-radius: 10px;
   font-family: 'Comic Sans MS', cursive;
   text-decoration: none;
   border: 1px;
   margin: 5% 3.8%;
}

#insta {
    color: #E1306C;
    
}

#tiktok {

}


img {
    height: 720px;
    top: 235px;
    left: 1030px;
    gap: 0px;
    border-radius: 16px 16px 16px 16px;
    opacity: 0px;
    object-fit: contain;
}